# SPDX-FileCopyrightText: 2026 Julien Y. Dutheil <jy.dutheil@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# files to be ignored

CMakeCache.txt
CMakeFiles
*.cmake
*.cmake.in
Makefile
html
install_manifest.txt
.clang*
*.sw*
build

# file to be specifically not ignored by previous rules

!/CTestConfig.cmake
!/cmake/*
