Source: maffilter
Section: science
Priority: optional
Maintainer: Julien Dutheil <julien.dutheil@univ-montp2.fr>
Uploaders: Julien Dutheil <julien.dutheil@univ-montp2.fr>
Build-Depends: debhelper (>= 5), cmake (>= 2.6), dpkg (>= 1.15.4) | install-info, texinfo,
  libbpp-phyl-omics-dev (>= 2.2.0), libboost-iostreams-dev (>= 1.54.0), libzip2 (>= 0.10.1), libbz2-1.0 (>= 1.0.0)
Standards-Version: 3.9.4

Package: maffilter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbpp-phyl-omics1 (>= 2.2.0), libboost-iostreams1.54.0 (>= 1.54.0), libzip-dev (>= 0.10.1), libbz2-dev (>= 1.0.0)
Description: Multiple Alignment Format file processor (MafFilter).
  MafFilter is a program for processing and analysing files in the Multiple Alignment Format (MAF).
  A description of MAF files can be found on the UCSC genome browser (http://genome.ucsc.edu/FAQ/FAQformat.html#format5).
  MafFilter can be used to design a pipeline as a series of consecutive filters, each performing a dedicated analysis.
  Many filters are available, from alignment cleaning to phylogeny reconstruction and population genetics analysis.

